@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Raleway:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


body, p {
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
	color: #292624;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
	line-height: 1.5em;
}


.main-banner{
	background: url('../img/hero-image-1.jpg') no-repeat center center;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	min-height: 867px;
	margin-top: 0px!important;
}
.navbar-default{
	background-color: transparent!important;
	color: black!important;
}
.navbar .navbar-nav .nav-link {
    color: #fff;
}
.qoute-container{
	margin-top: 453px;
}
.qoute-container>h4{
	color: white;
}
.qoute-container>h1{
	font-size: 50px;
}
.services{
	background-color: hsl(195, 90%, 43%);
	padding: 100px 0;
	margin: 0 auto;
	
}

.services p{
	color: white;
	
}

.services h3{
	color: #09075d;
	font-weight: 900;	
}

.services .default-paragraph{
	padding-top: 20px;
}
.services img{
	display: block;
	margin: auto;
}

.services-icons p{
	text-align: center;
	font-weight: 700;
}

.featured-services{
	padding-top: 30px;
}
.analyze-seo{
	min-height: 600px;
	background: url('../img/seo-analyze-bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  
	  
}

.analyze-seo .row{
	padding-top: 50px;
	
}

.analyze-seo h2{
	color: #069cd0;
	font-weight: 700;
}

.analyze-seo p{
	color: #777777;
}
.contact-form{
	background-color: rgb(22, 26, 34);
	color: white;
	margin-top: -100px;
}
.contact-form>div.row{
	padding: 100px;
}
iframe.google-map{width: 100%;}
.map{
	padding:0px;
}


.small-header{
	color: #0b9ed0;
	font-size: 16px;
}

.title{
	font-family: 'Raleway',sans-serif;
	font-size: 26px;
	
}

p.small-header{
	margin-bottom: 0;
}

#intro{
	
	padding: 80px 0;
}

.intro-list{
	
	padding-top: 30px;
}

.expertise{
	padding-top: 120px;
}

.box-shadow{
	box-shadow: 5px 10px 20px #c1c1c1;
	display: block;
}
.circular-img img{
	display: block;
	border-radius: 50%;
	margin-left: -30%;
	
}

.circular-img img:first-child{
	margin-bottom: 10px;
}

.circular-img img:first-child, .request-a-quote-img{
	margin-top: -20%;
}




.section-padding{
 padding-top: 35px;
 padding-bottom: 20px;
}

.heaviside-difference{
	background-color: rgb(22, 26, 34);
}


.default-paragraph {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #344142;

}

.custom-heading{
	font-weight: 600;
	display: inline-block;
	color: #0b9ed0;
}

.title-padding h3{
	padding-top: 20px;
	padding-bottom: 20px;
}

.learn-more{
	display: block;
	width: 78%;
}

.learn-more a{
	border: 2px solid #0b9ed0;
	padding: 5px 30px;
	float:right;
	color: #344142;
	text-transform: uppercase;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.learn-more a:hover{
	border: 2px solid #0b9ed0;
	background-color: #0b9ed0;
	text-decoration: none;
	
	color: white;
	
}

.clearfix{
	clear:both;
}

.what-we-do{
	padding-right: 50px;
}


/****** Footer *****/


.footer{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.footer-contact-info h6{
	font-weight: bold;
	text-transform:uppercase;
}

.footer-contact-info p{
	font-size: 14px;
	color: #344142;
}

.footer .social-icons a{
	font-size: 3em;
	color: #293243;
}


.social-icons a:hover{
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
a.facebook:hover{
	color:#3b5997;
}

a.twitter:hover{
	color:#21a1f0;
}

a.linkedin:hover{
	color:#06639a;
}

a.gplus:hover{
	color:#db483c;
}

.subfooter{
	background-color: #293243;
	color: white;
	min-height: 50px;
}

.subfooter-content ul, .subfooter-content li,  .subfooter-content h6{
	margin: 0;
}

.subfooter-content{
	padding-top: 10px;
}

.subfooter .list-inline li a{
	color: white;
}

.subfooter .list-inline li:not(:first-child):before{
	content: "|";
	vertical-align: middle;
}

/* Custom styles */
.no-padding{
	padding: 0px;
}
.margin-top-fifty{
	margin-top: 50px;
}
.margin-bottom-fifty{
	margin-bottom: 50px;
}
.margin-top-onehundred{
	margin-top: 100px;
}
.margin-top-fifteen{
	margin-top:15px;
}
.margin-fifty{
	margin:50px;
}
.center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
a:hover{
	color: white;
}
a:focus{
	color: white;
}
/* Custom colors; */
.white{
	color: white;
}

/* Alternate Navbar */
.navbar-alt{
	background-color: white!important;
	border-bottom: 1px solid #80808033;
}
.navbar-alt .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: grey;
}

.navbar-alt .navbar-nav .nav-link {
    color: grey;
}

.navbar-alt .navbar-nav .nav-link:hover {
    color: grey;
}

/* About Us Page */
#about{
	margin-top: 100px!important;
	background-color: #ffffff;
}
.chris{
	color: white;
	box-shadow: 5px 10px 20px #c1c1c1;
    background-color: hsl(219, 24%, 21%);
    padding: 40px;
}

.chris > p{
	color: white;
}

/* PPC Page */
.experts{
	padding: 45px;
    background-color: hsl(177, 51%, 57%);
}

.facebook-ads{
	padding: 100px 0px 100px;
    background-color: hsl(219, 24%, 21%);
}

.facebook-ads p{
	color: white;
}
/* Pricing Page */
.highlight{
	color: #59c9c3;
    font-weight: bold;
}
.pricing{
	padding: 100px;
}
/* SEO Page */
.carousel-seo {
	background: #fafafa;
    border-radius: 20px;
    padding: 30px;
    border-left: solid 10px grey;
	border-right: solid 10px grey;
    border-top: 30px solid grey;
	border-bottom: 30px solid grey;
}
.carousel{
	background: #0000004a;
}

/* Back to top Button */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

/* Preloader */
.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/44frgm.gif');
}